* {
    border: 1px solid gray;
    box-sizing: border-box;
    max-width: 100%;
}

/* this sets the font to 10rem so it's easier to shape */
html {
    font-size: 62.5%;
    margin: 40px;
}

/* general styles -  baseline attributes that need to apply to the body of the page */

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 6rem;
}

a:link { 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    /* margin: 30px; */
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5%;
}

nav {
    display: flex;
    justify-content: left;
    margin: .5% 7% 1.5% 0;
    font-weight: bold;
}

nav a {
    /* margin: .4% 7% 2% 0; */
    font-size: 2rem;   
}

.navbutton {
    margin-left: 5%;
}

.about {
    display: flex;
    align-items: center;
}

.hero {
    width: 30%;
}

.bio p {
    font-size: 2.5rem;
    line-height: 1.5;   
}

.bio {
    padding: 20px;

}

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}

.getintouch {
    display: flex;
    justify-content: center;
    width: 50%;
}

.contactbutton {
    background-color: teal;
    color: white;
    padding: 10px;
    font-size: 3rem;
    border-radius: 10px;
}

.contactbutton:hover {
    color: #ff7a59;
    border: #ff7a59 solid px;
    background:#fff;
}

.contactbutton a {
    color: black;
    text-decoration: none;
}


.lilogo {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 12%;
}

